- name: Configurar Azure Function
  hosts: localhost
  connection: local
  vars:
    ansible_python_interpreter: "{{ ansible_playbook_python }}"

  tasks:
    - name: Garantir que a Function esteja Always On e com Python 3.10
      azure_rm_webapp:
        name: senaclabazurefunctionmtb0dhtl
        resource_group: senactfresourcegroup
        frameworks:
          - name: python
            version: "3.10"

      register: azure_function
